body {
  background: black;
}
@media (max-width: 500px) {
  .across-top {
    display: flex;
    justify-content: center;
  }
}
.across-top .logo {
  width: 175px;
  height: 150px;
  margin-left: -12%;
}
@media (max-width: 500px) {
  .across-top .logo {
    display: none;
  }
}
.across-top nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
}
@media (max-width: 500px) {
  .across-top nav {
    flex-direction: column-reverse;
  }
}
.across-top a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-top: 2.5%;
  margin-right: -10%;
}
@media (max-width: 500px) {
  .across-top a {
    margin-bottom: 20%;
  }
}
.across-top .pink {
  border: 1px solid mediumvioletred;
  border-radius: 5%;
  color: mediumvioletred;
  padding: 5px;
}
@media (max-width: 500px) {
  .across-top .log-in {
    margin-left: 12%;
  }
}
@media (max-width: 500px) {
  .across-top .home {
    margin-left: 12%;
  }
}
@media (max-width: 500px) {
  .top-img {
    border-bottom: 2px solid mediumvioletred;
  }
}
.top-img .under-nav {
  max-width: 100%;
}
.mid-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-section h1 {
  font-size: 50px;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .mid-section h1 {
    font-size: 30px;
    margin-top: 5%;
  }
}
.mid-section p {
  width: 40%;
  font-size: 25px;
  margin-top: -1%;
  text-align: center;
}
@media (max-width: 500px) {
  .mid-section p {
    font-size: 16px;
    width: 100%;
    display: flex;
  }
}
.youtube-vid {
  width: 100%;
  height: 500px;
  margin-top: 5%;
}
.share-someones-story {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share-someones-story h2 {
  font-size: 30px;
}
@media (max-width: 500px) {
  .share-someones-story h2 {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
.share-someones-story .bot-img {
  max-height: 300px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 500px) {
  .share-someones-story .bot-img {
    width: 400px;
  }
}
.share-someones-story p {
  width: 23%;
  font-size: 20px;
}
@media (max-width: 500px) {
  .share-someones-story p {
    font-size: 16px;
    width: 100%;
    display: flex;
  }
}
.copyright {
  color: white;
  border-top: 2px solid mediumvioletred;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .copyright {
    margin-top: 5%;
  }
}
.copyright p {
  margin-top: 1%;
}
@media (max-width: 500px) {
  .copyright p {
    margin-top: 5%;
  }
}
body {
  background: black;
}
.across-top {
  border-bottom: 2px solid mediumvioletred;
}
@media (max-width: 500px) {
  .across-top {
    display: flex;
    justify-content: center;
  }
}
.across-top .logo {
  width: 175px;
  height: 150px;
  margin-left: -12%;
  margin-bottom: 1%;
}
@media (max-width: 500px) {
  .across-top .logo {
    display: none;
  }
}
.across-top nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
}
@media (max-width: 500px) {
  .across-top nav {
    flex-direction: column-reverse;
  }
}
.across-top a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-top: 2.5%;
  margin-right: -10%;
}
@media (max-width: 500px) {
  .across-top a {
    margin-bottom: 20%;
  }
}
.across-top .pink {
  border: 1px solid mediumvioletred;
  border-radius: 5%;
  color: mediumvioletred;
  padding: 5px;
}
@media (max-width: 500px) {
  .across-top .home {
    margin-left: 17%;
  }
}
.the-team {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .the-team {
    font-size: 20px;
  }
}
h1 {
  margin-top: -2%;
}
h2 {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 3%;
}
@media (max-width: 500px) {
  h2 {
    font-size: 20px;
    margin-bottom: -3%;
    margin-top: 5%;
  }
}
h3 {
  color: white;
  height: 22px;
  font-size: 25px;
  color: mediumvioletred;
}
.web23 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .web23 {
    display: flex;
    flex-direction: column;
  }
}
.web23 img {
  justify-content: center;
  border-radius: 50%;
  width: 250px;
}
@media (max-width: 500px) {
  .web23 img {
    margin-left: 18%;
  }
}
.web23 .Chelsea,
.web23 .Darren,
.web23 .Kevin {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.front-end {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .front-end {
    display: flex;
    flex-direction: column;
  }
}
.front-end img {
  justify-content: center;
  border-radius: 50%;
  width: 250px;
}
.front-end .Alec,
.front-end .Hector,
.front-end .Jerry,
.front-end .Laura {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 500px) {
  .front-end .laura {
    margin-left: 18%;
  }
}
.back-end {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .back-end {
    display: flex;
    flex-direction: column;
  }
}
.back-end img {
  justify-content: center;
  border-radius: 50%;
  width: 250px;
}
@media (max-width: 500px) {
  .back-end img {
    margin-left: 18%;
  }
}
.back-end .Brandon {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.PL {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .PL {
    display: flex;
    flex-direction: column;
  }
}
.PL h2 {
  margin-top: 5%;
}
.PL img {
  justify-content: center;
  border-radius: 50%;
  width: 250px;
}
@media (max-width: 500px) {
  .PL img {
    margin-left: 18%;
  }
}
.PL .Tunji {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.copyright {
  color: white;
  border-top: 2px solid mediumvioletred;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.copyright p {
  margin-top: 1%;
}
@media (max-width: 500px) {
  .copyright p {
    margin-top: 5%;
  }
}
i {
  color: mediumvioletred;
}
.icon-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
