.across-top .logo {
  max-width: 175px;
  margin-left: -15%;
}
.across-top nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* background: whitesmoke; */
}
.across-top a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-top: 2.5%;
  margin-right: -10%;
}
.share-someones-story .bot-img {
  max-width: 20%;
  max-height: 400px;
}
