body {
    background: black;
}//closes body


.across-top {
    border-bottom: 2px solid mediumvioletred;

    .logo {
        width: 175px;
        height: 150px;
        margin-left: -15%;
        margin-bottom: 1%;
    }//closes .logo

        nav {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            align-content: space-between;
        } //closes nav
            
            a {
                text-decoration: none;
                color: white;
                font-size: 25px;
                margin-top: 2.5%;
                margin-right: -10%;
            }//closes a 


                .pink {
                    border: 1px solid mediumvioletred;
                    border-radius: 5%;
                    color: mediumvioletred;
                    padding: 5px;
                }
}//closes across-top


.the-team {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 2%;
}//closes .the-team


h2 {
    color: white;
    display: flex;
    justify-content: center;
    margin: 4%;
}//closes h2

h3 {
    color: white;
}//closes h3



.web23 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;


        img {
            justify-content: center;
            border-radius: 50%;
            width: 250px;
        }//closes img

            i {
                color: white;
            }//closes icons
}//closes .web23



.front-end {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

        img {
            justify-content: center;
            border-radius: 50%;
            width: 250px;
        }//closes img
}//closes .front-end



.back-end {
    display: flex;
    justify-content: center;

        img {
            justify-content: center;
            border-radius: 50%;
            width: 250px;
        }//closees img
}//closes .back-end



.PL {
    display: flex;
    justify-content: center;

        img {
            justify-content: center;
            border-radius: 50%;
            width: 250px;
        }//closes img
}//closes .PL


.copyright {
    color: white;
    border-top: 2px solid mediumvioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

        p {
            margin-top: 1%;
        }
}//closes .copyright

