body {
    background: black;
    @media @phone {
        background: red;
    }
}

.across-top {

    .logo {
        width: 175px;
        height: 150px;
        margin-left: -15%
    }//closes .logo

        nav {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            align-content: space-between;
        } //closes nav
            
            a {
                text-decoration: none;
                color: white;
                font-size: 25px;
                margin-top: 2.5%;
                margin-right: -10%;
            }//closes a 


                .pink {
                    border: 1px solid mediumvioletred;
                    border-radius: 5%;
                    color: mediumvioletred;
                    padding: 5px;
                }
}//closes across-top



.top-img {
    
    .under-nav {
        max-width: 100%;
    }//closes .under-nav
}//closes .top-img




.mid-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   

    h1 {
       font-size: 50px;

    }//closes h1

        p {
            max-width: 40%;
            font-size: 25px;
            margin-top: -1%;
        }//closes p
}//closes .mid-section



.youtube-vid {
    width: 100%;
    height: 500px;
    margin-top: 5%;
}//closes .youtube-vid




.share-someones-story {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

        h2 {
            font-size: 30px;
        }//closes h2

        .bot-img {
            max-height: 300px;
            display: flex;
            align-items: flex-end;
        }//closes .bot-img

            p {
                max-width: 23%;
                font-size: 20px;
            }//closes p
}//closes .share-someones-story




